
@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Mulish:wght@400;600;700;800&display=swap');

body {
    background-color: #000;
    /* font-family: 'Marcellus', serif; */
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    color: #fff;
}

.container {
    max-width: 1440px;
    padding: 0 10px;
    margin: 0 auto;
}

section {
    margin-bottom: 60px;
}

.section-title {
    display: inline-block;
    font-size: 28px;
    font-weight: 700;
    line-height: 20px;
    padding-left: 20px;
    padding-right: 25px;
    margin-bottom: 40px;
    position: relative;    
}

.section-title::before {
    content: "";
    width: 8px;
    height: 35px;
    display: block;
    background: linear-gradient(-316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
    border-radius: 50px;
    transform: rotate(-180deg);
    position: absolute;
    left: 0;
    top: -50%;
}

.section-title::after {
    content: "";
    width: 10px;
    height: 16px;
    display: block;
    background-image: url(../img/title-arrow.svg);
    position: absolute;
    right: 0;
    top: 20%;
}

/* ====== header ===== */


.header {
    display: flex;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-item {
    margin-right: 54px;
}

.nav-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #fff;
    opacity: 0.5;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    border-radius: 50px;
    transition: 0.2s;
}

.nav-link:hover {
    opacity: 1;
}

.nav-link.active {
    opacity: 1;
    border-image: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
    border-image-slice: 1;
}

.header-control-btn {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 75px;
}

.header-control-btn:last-of-type {
    margin-right: 0;
}

.search-btn {
    width: 18px;
    height: 18px;
    background-image: url(../img/search.svg);        
}

.notice-btn {
    width: 22px;
    height: 24px;
    background-image: url(../img/notice.svg);
}

.user-btn {
    width: 18px;
    height: 19px;
    background-image: url(../img/user.svg);
}


/* ====== banner ======= */



.section-banner {
    border-bottom: 2px solid #2F2E2E;    
}

.banner {
    display: flex;
}

.banner-item {
    max-width: 532px;
    padding-top: 122px;    
    box-shadow: 100px 0px 100px #000000;
}

.banner-title {
    font-family: 'Marcellus', serif;
    font-size: 80px;
    line-height: 70px; 
    margin-bottom: 32px;   
}

.banner-info {
    font-size: 16px;
    font-weight: 800;
    line-height: 10px; 
    margin-bottom: 25px;   
}

.banner-info__year,
.banner-info__age {
    margin-right: 18px;
}

.banner-info__age {
    width: 60px;
    display: inline-block;
    text-align: center;   
}

.banner-info__age::before {
    content: "";
    display: block;
    width: 60px;
    height: 24px;
    background-image: url(../img/age-border.svg);
    background-repeat: no-repeat;
    transform: translateY(75%);
}

.banner-info__time {
    margin-right: 50px;
}

.banner-info__rating {
    position: relative;
}

.banner-info__rating::after {
    content: "";
    width: 16px;
    height: 16px;    
    background-image: url(../img/rating-star.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 2px;
    left: 35px;
}

.banner-text {
    font-size: 18px;
    line-height: 28px;
    color: #c2c2c2;
    margin-bottom: 35px;   
}

.banner-control-btn {
    padding: 15px 30px;
    border-radius: 100px;
    outline: none;
    border: 1px solid transparent;
    background-color: #fff;
    color: #323232;
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
    cursor: pointer;    
}

.watch-btn {
    padding-left: 59px;
    margin-right: 30px;
    position: relative;
    color: #fff;
    background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
    box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5); 
}

.watch-btn__img {
    margin-right: 15px;    
    position: absolute;
    left: 30px;
}

.banner-control-btn:active {
    border: 1px solid #000;    
}

.banner-img {
    max-width:908px;    
    z-index: -1;
}

.banner-img__img {
    width: 100%;
    height: 100%;
    margin-bottom: -2px;
}


/* ======= shows ====== */


.shows {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.shows-item {
    flex: 0 0 14%;
}

.shows-link {
    text-decoration: none;
    transition: 0.2s;
}

.shows-link:hover {    
    filter: drop-shadow(0px 0px 20px rgba(44, 176, 249, 0.5));
}

.shows-item__img {
    border-radius: 20px;
}


/* ======= movies ======= */



.movies {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 55px;
}

.movies-item {
    flex: 0 0 14%;
}

.movies-link {
    text-decoration: none;
    transition: 0.2s;
}

.movies-link:hover {    
    filter: drop-shadow(0px 0px 20px rgba(44, 176, 249, 0.5));
}

.movies-item__img {
    border-radius: 20px;
}

.movies-btn {
    padding: 15px 30px;
    border-radius: 100px;
    outline: none;
    border: 1px solid transparent;    
    color: #fff;
    background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
    box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
    cursor: pointer; 
}

.movies-btn:active {
    border: 1px solid #000;
}


/* ====== genres ======= */


.genres {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.genres-item {
    flex: 0 0 24%;
    margin-bottom: 27px;
}

.genres-link {        
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 45px 0;
    font-size: 28px;
    font-weight: 700;
    line-height: 20px;
}

.genres-link__img {
    width: 80px;
    height: 80px;
}

.romance {
    background: linear-gradient(109.31deg, #FD093F 2.4%, #F383F1 100%);
}

.drama {
    background: linear-gradient(114.5deg, #0FFFDA 2.22%, #3CDB77 68.84%);
}

.historical{
    background: linear-gradient(109.31deg, #B936FF 2.4%, #57DEDA 100%);
}

.action {
    background: linear-gradient(109.31deg, #FD093F 2.4%, #FB1378 2.41%, #FCCB1A 100%);
}

.sci-fi {
    background: linear-gradient(109.31deg, #FF6472 2.4%, #FDA75D 100%);
}

.horror {
    background: linear-gradient(110.16deg, #13547A 2.37%, #80D0C7 96.77%);
}

.comedy {
    background: linear-gradient(109.93deg, #FFF77B 2.37%, #FFBF42 50%);
}

.documentary{
    background: linear-gradient(109.31deg, #1FA2FF 2.4%, #1FA2FF 2.41%, #1F535C 97.46%);
}


/* ====== actors ====== */



.actors {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.actors-item {
    flex: 0 0 14%;
}

.actors-link {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}

.actors-img__img {    
    border-radius: 50%;
    margin-bottom: 20px;
}


/* ====== announcement ======= */


.announcement {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;    
}

.announcement-item {
    flex: 0 0 50%;
    height: 341px;
}

.announcement-img {
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
}

.announcement-date {
    width: 100%;
    height: 100%;
    background: linear-gradient(87.02deg, #0D1A73 29.67%, #000000 70.52%);
    display: flex;
    align-items: center;
    justify-content: center;   
    flex-direction: column; 
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.1);
    border-radius: 0 20px 20px 0;    
}

.announcement-img {
    width: 100%;
}

.announcement-date__img-img {
    margin-bottom: 31px;
}

.announcement-date__title {
    font-size: 64px;
    font-weight: 700;
    line-height: 20px;
}


/* ====== offer ====== */


.offer {
    max-width: 1224px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(../img/offer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 71px 0;
    padding-left: 57px;
    border-radius: 20px;
}

.offer-title {
    font-size: 64px;
    line-height: 64px;
    font-weight: 700;
}

.offer-btn {
    padding: 15px 30px;
    border-radius: 100px;
    outline: none;
    border: 1px solid transparent;
    color: #fff;
    background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
    box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5); 
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
    cursor: pointer;
    margin-left: 82px;
}

.offer-btn:active {
    border: 1px solid #000;
}
